
body, html{

  height: 100%;
}
body {

  background: linear-gradient(#F3E7E8, #6D373A);
}

h1 {  

  font-family: 'VT323', monospace;
  color: #390511;
  font-size: 4em;
  text-align: center;
  margin-top: 100px;
}

.pic {

  position: relative;
  width: min-content;
  margin: auto;
  
}

.imageBottom {

  position: relative;
  border: solid 5px #390511;
  margin: auto;
  z-index: 1;
  
}
.imageTop {

  position: absolute;
  top: 50px;
  left: 50px;
  
  z-index: 3;
  
}

.imageTop {
  display:block;
  margin: auto
;

  border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
img:hover {
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
}

