
body, html{

  height: 100%;
}
body {

  background: linear-gradient(#F3E7E8, #E9D3D4, #D3A7AA, #BE7E81);
}

h1 {  

  font-family: 'VT323', monospace;
  color: red;
  font-size: 4em;
  text-align: center;
}



img {
  display:block;
  margin: auto
;

  border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
img:hover {
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
}

