
html {

  height: 100%;
}

body {

  background: linear-gradient(#F3E7E8, #6D373A);

}

header {

  text-align: center;
  font-size: 1.5em;
  padding-top: 2%;
  margin: 0;

}

h1 {

  font-family: 'VT323', monospace;
  color: #390511;
  font-size: 4em;
  font-weight: bold;
  text-align: center;
  padding-top: 3%;
  margin: 0;

}

.intro {

  font-style: italic;
  font-size: 1.5em;
  margin: auto;
  padding-top: 3%;
  width: 60%;  

}

.locations {

  font-size: 1.5em;
  font-weight: bold;
  float: left;
  padding-top: 4%;
  padding-left: 17%;
  overflow: auto;

}

.locations p {

  font-family: 'VT323', monospace;
  color: #390511;
  font-size: 1.5em;
  padding: 3px;

}

.locations li {

  padding: 3px;
  
}

footer {

  text-decoration: none;
  text-align: center;  
  font-family: 'VT323', monospace;
  color: #390511;
  font-size: 2em;
  width: min-content;
  margin: auto;  

}

.shop {

  font-size: 1.5em;
  font-weight: bold;
  float: right;
  width: 35%;
  padding-top: 4%;
  padding-right: 8%;
  overflow: auto;
  
}

.shop h2 {

  font-family: 'VT323', monospace;
  color: #390511;
  font-size: 1.5em;
  padding: 3px;

}

.shop li {

  padding: 3px;

}

.shop p {

  padding: 3px;
  font-style: italic;

}


#cutter:hover {
  
  position: relative;   
}

#cutter:hover:after {

  content: url(../pictures/cutter.jpeg);
  display: block;
  position: absolute;
  bottom: 8%;
  right: 50%;
  
}

#shirt:hover {
  
  position: relative;   
}

#shirt:hover:after {

  content: url(../pictures/shirt.jpg);
  display: block;
  position: absolute;
  bottom: 8%;
  right: 50%;
  
}

#fishes:hover {
  
  position: relative;   
}

#fishes:hover:after {

  content: url(../pictures/fish.jpg);
  display: block;
  position: absolute;
  bottom: 8%;
  right: 50%;
  
}

#cookie:hover {
  
  position: relative;   
}

#cookie:hover:after {

  content: url(../pictures/frosted-cookie.jpg);
  display: block;
  position: absolute;
  bottom: 8%;
  right: 50%;
  
}

#poster:hover {
  
  position: relative;   
}

#poster:hover:after {

  content: url(../pictures/chinook.jpg);
  display: block;
  position: absolute;
  bottom: 8%;
  right: 50%;
  
}




