body {

  background: #520066;
  color:  #f2f2f2;

}

table.excel {

  background: #f5ccff;
  font-size: 18px;
  margin: auto;  
  padding: 1.5em, 1.5em;
  color: black;
  height: 200px;
  width: 80%;
  

}

table.excel thead:first-child {

  background: #e580ff;

}

p {
  display: block;
  min-width: min-content;
  max-width: min-content;
}