body {

  color: #6D373A;
  background: #F3E7E8;

}

h1 {

  font-size: 3em;
  font-weight: bolder;
  text-align: center;
  margin-top: 50px;
}

table {

  background: #E9D3D4;
  font-size: 18px;
  margin: auto; 
  margin-top: 50px; 
  color: black;
  width: 80%;  
}

td, th {

  border-bottom: 2px solid rgb(211, 47, 55);
  padding: 10px;

}

table thead:first-child {

  background: #D3A7AA;
  margin-bottom: #6D373A;

}

table tfoot td:last-child {

  background: #271617;
  color: #F3E7E8;

}

fieldset {

  text-align: center;  
}

p {
  display: block;
  min-width: min-content;
  max-width: min-content;
  padding: 2rem;
  margin: auto;
}

legend {

  font-size: 2em;
  text-align: center;
  padding-top: 50px;

}

button {  
  margin: 0 auto;
}


