* {
	font-family: 'Montserrat', sans-serif;
}

body {
  background: rgb(120, 184, 128)
}

h1 {
	color: white;
}

table {
	border: 10px solid #4ABDAC;
	empty-cells: hide;
}

td {
	padding: 10px;
	border-radius: 15px;
  border: 1px solid black;
  background: white;
}

th {
	background-color: #F7B733;
	color: #76323F;
}

